@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Indie+Flower&family=Lilita+One&family=Open+Sans&family=Roboto+Mono:wght@500&family=Rubik+Doodle+Shadow&display=swap');
:root{
--abril: 'Abril Fatface', serif;
--sans: 'Open Sans', sans-serif;
--robo: 'Roboto Mono', monospace;  
}
@mixin card () {
    width: 100%;
    padding: 4rem 0;
}
@mixin grid ($repeat){
    display: grid;
    grid-template-columns: $repeat;
    gap: 1rem   ;
}
@mixin title () {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.header{
    height: 100vh;
    background-image: url(/img/carousel-2.jpg);
    background-size: cover; 
    .navbar{
        font-size: 1.1rem;
        a{
            text-decoration: none;
            font-family: var(--sans);
            color: white;
            transition: all 0.5s linear;
            margin-left: 1.2rem;
            margin-right: 1rem;
            &:hover{
                color: orange; 
                transition: all 0.5s linear;}
            &:first-of-type{color: orange;}
        }
        i{display: none;}
        select{background: 0;}
        .logo{         
a{
    font-size: 3rem;
    color: white;
    font-weight: bold;
}
        }
    }
    .banner{
        text-align: center;
        opacity: 0.8;
        padding-top: 10rem;
        span{
            color: orange;
            font-size: 2rem;
        }
        h1{
            font-size: 7.3rem;
            color: white;
        }
        h3{
            color: white;}
    }
}
.owerlay{
    width: 100%;
    height: 100%;
    background-color: rgba($color: #251919, $alpha: 0.6);
}
.ABOUt{
background-color: rgb(255, 249, 241);
    @include card();
    .title{
        @include title();
        span{
            color: orange;
        }
        h4{color: orange;font-size: 2rem;}
        h2{font-size: 3.3rem;}
    }
    .about__contact{
        @include grid(1fr 1fr 1fr );   
        gap: 0;
        align-items: center;
        padding-top: 1rem;
        h3{
            font-size: 2.2rem;
        }
        span{
            font-size: 1.2rem;
        }
        p{line-height: 23px;
            opacity: 0.9;
        }
        a{
            display: block;
            margin-bottom: 0.5rem;
            text-decoration: none;color: black;
            font-size: 1.2rem;
            i{margin-right: 4px;
                font-weight: bold;
                color: rgb(215, 140, 2);
            }
        }
        button{
            margin-top: 1rem;
        }
    }
}
.Fresh{
    background-color: rgb(255, 249, 241);
    @include card();
    .title{
        @include title();
        span{
            color: orange;
        }
        h4{
            color: orange;
        }
        h2{
            font-size: 3rem;
        }
    }
    .fresh__contact{
        padding-top: 2rem;
        @include grid(repeat(2,1fr));
        .item__contact{
            @include grid(repeat(2,1fr));
            gap: 0;
            margin-top: 0.5rem;
            margin-left: 2rem;
            margin-right: 2rem;
            img{
                width: 70%;
                display: block;
            }
            a{
                text-decoration: none;
                color: black;
                font-size: 1.3rem;
                font-weight: bold;
                i{
                    background-color: rgba(208, 135, 0, 0.845);
                    padding: 10px 11px;
                    border-radius: 100%;
                    margin-right: 5px;
                }
            }
            p{
                opacity: 0.9;
                line-height: 24px;
            }
      }
   }
}
.Special{
    @include card();
    background-image: url(/img/bg.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    .title{
        h2{
            font-size: 4rem ;
            color: orange;
        }
        h3{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.4rem;
        }
    }
    .Special__contact{    
        .input{
            width: 45%;
            margin: 0 auto;
            height: 7vh;
            margin-top: 2rem;
            overflow: hidden;
            input{
                width: 40%;
                height: 7vh;
                border: 0;
                text-indent: 10px;
            }
            button{
                height: 7vh;
                border: 2px solid orange;
                background-color: orange;
                transition: all 0.3s linear;
                font-size: 1.1rem;
                &:hover{
                    background-color: rgb(193, 125, 0);
                    border: 2px solid rgb(193, 125, 0) ;
                    transition: all 0.3s linear;
                }
            }
        }
   }
}
.PRICING{
    background-color: rgb(255, 249, 241);
    @include card();
    .title{
        @include title();
        margin-bottom: 3rem;
        span{
            color: orange;
        }
        h4{
            color: orange;
        }
        h2{
            font-size: 3rem;
        }
    }
    .pricing__contact{   
        @include grid(repeat(2,1fr));
        h2{
            margin-left: 10rem;
            margin-bottom: 2rem;
            font-weight: bold
        }
        .item__contact{
            @include grid(repeat(2,1fr));
            gap: 0; 
            margin-top: 1rem;
            span{
                position: absolute;
                top: 0;
                right: 2rem;
                padding: 10px 14px;
                background-color: #D49A59;
                border-radius: 100%;
                z-index: 999;
                
            }
            .item{
                position: relative;
            }
            img{
                width: 35%;
                border-radius: 100%;
                margin-left: 10rem;
                position: relative;
            }
            .img::before{         
                    content: "";
                    position: absolute;
                    border: 10px solid red;
                    background-color: red;
                    color: red;
                    width: 20%;
                    height: 20vh;
            }
         p{
            opacity: 0.8;
         }
        }
    }
}
.Online{
    background-color: rgb(255, 249, 241);
    @include card();
        .online__contact{
            width: 80%;
            margin: 0 auto;
            background-image: url(/img/bg.jpg);
            background-size: cover;
            background-color: rgb(18, 0, 0);
            @include grid(repeat(2,1fr));
            gap: 0;
            .item:last-of-type{
                h2{
                    color: white;
                    font-size: 2.7rem;
                }
                background-color: rgba(33, 8, 8, 0.8);
                color: white;
                text-align: center;
                padding-top: 3rem;
            padding: 50px 10px;
                input ,select ,button{
                    display: block;
                    width: 80%;
                    height: 7vh;
                    opacity: 0.8;
                    margin: 0 auto;
                    background: 0;
                    margin-top: 1rem;
                    border: 1px solid orange;
                    color: rgb(160, 160, 160);
                    text-indent: 10px;
                   
                }
                button{
                    background-color: orange;
                    color: white;
                }
                     }
           .item{
                color: white;
                padding-top: 5rem;
                padding-left: 3rem;
                padding-right: 4rem;
                background-color: rgba(17, 0, 0, 0.5);
                h2{
                    color: orange;
                    font-size: 4rem;
                }
                h4{
                    font-size: 2.3rem;
                }
                a{
                    display: block;
                    text-decoration: none;
                    color: white;
                    margin-top: 1rem;
                    i{
                        color: orange;
                        font-weight: bold;
                    }
                }
                option{
                    color: black;
                }
                
            }
        }
}
.testimonial{
    background-color: rgb(255, 249, 241);
   .test__content{
    width: 100%;
   }
    @include card();
    h3{
        color: #D49A59;
    }
    h2{
        font-size: 3rem;
    }
    p{
        opacity: 0.5;
    }  
}
.footer{
    background-image: url(/img/bg.jpg);
   .footer__contact{
    padding-top: 4rem;
    @include grid(repeat(4,1fr));
    color: white;
    .item{
        i{
            font-size: 0.8rem;
            margin-top: 1.3rem;
            display: block;
            letter-spacing: 1.5px;        
    }
    b{
            border: 1px solid white;
            padding: 11px 14px;
            transition: all 0.3s linear;
           margin-left: 0.5rem;
           &:hover{
            background-color: white;
            color: black;
           }
     }
        a{
            display: block;
            text-decoration: none;
            color: white;
            margin-top: 7px;
        }
        .input{
            input{
                border: 0;
                height: 7vh;
                text-indent: 8px;
                width: 70%;
            }
            span{
                background-color: orange;
                padding: 13px 15px;
                color: black;
            }
        }
    }
}
   .copyright{
    .tr{
        border: 1px solid black;
        width: 100%;
        height: 1px;
        margin-top: 5rem;
    }
    text-align: center;
    color: white;
    .text{
        width: 20%;
        margin: 0 auto;
        padding-top: 3rem;
        padding-bottom: 2.5rem;
    }
 }
}